h1 {
font-size: 17px;
color: #2c3e50;
}
.btn {
    color: white;
    background-color: #2ecc71;
}
.btn:hover{
    color: white;
    background-color: #27ae60;
}
.alert {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
}
.list-group {
    
}
.list-group-item {
    display: flex;
    border: 1px solid #DFDFDF;
    font-family: 'Roboto', sans-serif;
    padding: 10px;
}
.list-group-item:first-child {
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
}
.list-group-item:last-child {
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
 }
 .card {
     display: flex;
     flex-direction: column;
     border: 1px solid #DFDFDF;
     font-family: 'Roboto', sans-serif;
     width: 50vh;
    
 }
 .image {
    display: flex;
    background-image: url("/Landscape.JPG");
    height: 50vh;
    background-size: cover;
  }
  .card-content {
      padding-left: 20px;
      padding-bottom: 20px;
  }
  .bouton {
    color: white;
    background-color: #2ecc71;
    border-radius: 5%;
    font-family: 'Roboto', sans-serif;
    border: 1px solid #2ecc71;
    padding: 5px;
}